input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea,
select {
    line-height: 1em;
}

button:focus {
    outline: none;
}

button.green {
    background-color: #2CC280;
}

.ui-autocomplete {
    max-height: 250px;
}

.parallax-overlay,
.short-logo {
    display: none;
}

#top-bar .right-side {
    text-align: right;
}

#header.cloned .large-logo {
    display: none;
}

#header.cloned .short-logo {
    display: inline-block;
    margin-top: -3px;
}

/* BEFORE */
/*.main-page .parallax-content {*/
    /*padding: 30px 0;*/

    /*background: #84fab0; !* Old browsers *!*/
    /*background: -moz-linear-gradient(left, #84fab0 0%, #8fd3f4 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(left, #84fab0 0%, #8fd3f4 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to right, #84fab0 0%, #8fd3f4 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#84fab0', endColorstr='#8fd3f4', GradientType=1); !* IE6-9 *!*/

    /*!* background: #d9a7c7;  !* fallback for old browsers *!*/
    /*!* background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  !* Chrome 10-25, Safari 5.1-6 *!*/
    /*!* background: linear-gradient(to right, #fffcdc, #d9a7c7); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/

/*}*/

/* OPTIONS */

.main-page .parallax-content {
     /*background-color: #fff; !* for white bg color *!*/
    background-color: #fcfcfc; /* for gray bg color */
    padding: 50px 0;
}

.main-search-container h1, .main-search-container h2 {
    color: #000;
}

.main-search-form  .search-type label {
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.12);
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #224EDD;
    background: #224EDD;
    font-weight: normal;
    color: #ffffff;
}

.ui-icon-background,
.ui-state-active .ui-icon-background {
    border: 1px solid #224EDD;
    background-color: #ffffff;
}

.main-search-dropdown .ui-menu-item div {
    padding: 10px;
    line-height: 1;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.main-search-dropdown .ui-menu-item div:hover {
    background-color: #224EDD;
    border: 1px solid #224EDD;
    transition: .3s;
}

.main-search-dropdown {
    padding: 10px;
    background-color: #fcfcfc;
    font-weight: 500;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    overflow-y: scroll;
    color: #888;
    font-family: "Varela Round", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
}

.search-page.search-container {
    padding: 0;
    margin-top: 0;
    z-index: 1;
}

.search-page.search-container select {
    height: 57px;
}

.my-account {
    margin-top: 10vh;
    background-color: #fff;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}

.my-account .tabs-container {
    box-shadow: none;
}

.my-account .tabs-nav {
    display: flex;
}

.my-account .tabs-nav li {
    width: 50%;
    margin: 0;
}

.my-account .tabs-nav li a {
    width: 100%;
    text-align: center;
}

.my-account .logo {
    margin: 50px 30px 20px;
    height: 39px;
}

.my-account .tabs-nav li {
    display: inline-block;
    float: none;
}

.my-account .button {
    width: 145px;
}

.my-account h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

.my-account label i {
    font-size: 25px;
}

ul.top-bar-menu {
    display: inline-block;
    padding: 0;
}

.top-diagnostic-btn,
.header-site-icon-reverse,
.top-diagnostic-btn:hover,
.top-diagnostic-btn:hover .header-site-icon-reverse,
.top-diagnostic-btn:hover .header-site-icon {
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.top-diagnostic-btn {
    padding: 16px 9px 16px 35px;
    position: relative;
    line-height: 1;
    display: inline-flex;
    align-content: center;
}

.top-diagnostic-btn:hover:after {
    position: absolute;
    left: 0;
    right: 0;
    top: -1px;
    content: '';
    height: 1px;
    background-color: #fff;
}

.top-diagnostic-btn:hover {
    background-color: #fff;
    color: #2648b3;
}

.top-diagnostic-btn img {
    position: absolute;
    height: 20px;
    left: 9px;
}

.header-site-icon-reverse {
    opacity: 0;
    top: 0;
}

.top-diagnostic-btn:hover .header-site-icon-reverse {
    display: inline-block;
    top: 11px;
    opacity: 1;
}

.header-site-icon {
    opacity: 1;
    top: 11px;
}

.top-diagnostic-btn:hover .header-site-icon {
    opacity: 0;
    top: 40px;
}

#wrapper.login-page-wrapper {
    background: #fcfcfc;
    box-shadow: inset 0 20px 50px -20px rgba(0, 0, 0, 0.06);
    min-height: 100vh;
}

.login-page-wrapper input[type='text'] {
    color: #000;
}

.login, .register {
    text-align: right;
}

.lost_password, .doctor_user, .backto_login {
    text-align: center;
}

.search-container .chosen-container-single .chosen-single,
.search-container .main-search-input input {
    border: 1px solid #e0e0e0;
}

.chosen-container.chosen-with-drop .chosen-drop {
    border-color: #e0e0e0
}

#top-bar .left-side .social-icons {
    float: none;
}

#top-bar .left-side .social-icons .flask {
    margin-right: 10px;
}

.main-hero-title {
    font: 300 42px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul.top-bar-menu li {
    margin-right: 0;
}

/* Custom-modal */
.booking-modal {
    background-color: #ffffff;
    width: 900px;
    border-radius: 4px;
    display: none;
    padding: 25px;
}

.booking-modal__close-btn {
    position: absolute;
    right: -20px;
    z-index: 2;
    top: -20px;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    font-size: 32px;
    color: #fff;
    background-color: #3362bb;
    border: none;
    outline: none;
}

.booking-modal__close-btn:hover {
    background-color: #224EDD;
}

.fc-day-header.fc-today {
    background-color: #224EDD;
    color: #fff;
}

.fc-axis {
    width: 48px;
}

@media (max-width: 767px) {
    .large-logo {
        display: none;
    }

    .short-logo {
        display: inline-block;
    }

    #top-bar {
        display: none;
        width: 100%;
    }

    .doctor-sign-up-btn {
        width: 100%;
        text-align: center;
    }

    .header-widget .sign-in {
        position: absolute;
        top: -141px;
        right: 0;
    }

    .booking-modal {
        padding: 15px;
    }

    .booking-modal__close-btn {
        top: 15px;
        right: 15px;
        height: 35px;
        width: 35px;
        font-size: 28px;
    }

    .fc-header-toolbar {
        display: flex;
        flex-direction: column;
    }

    .fc-right {
        margin: 10px 0;
    }

}

@media (max-width: 991px) {
    #top-bar .left-side,
    #top-bar .right-side {
        width: 50%;
    }
}

button.fc-prev-button,
button.fc-next-button {
    margin-right: 5px;
    width: 35px;
}

.fc-header-toolbar button.btn {
    background-color: #fff;
    color: #224EDD;
    border: 1px solid #224EDD;
    outline: none;
    height: 35px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.fc-header-toolbar button.active,
.fc-header-toolbar button.disabled,
.fc-header-toolbar button.btn:hover {
    background-color: #224EDD;
    color: #fff;
}

.fc-header-toolbar button.disabled {
    opacity: 0.5;
    cursor: default;
}

.fc-time-grid-event {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4px 0 4px 4px;
    cursor: pointer;
    background-color: #2CC280;
    border: none;
    transition: 0.5s;
}

.fc-time-grid-event .fc-time {
    margin-top: 2px;
}

.fc-time-grid-event:hover {
    background-color: #11c256;
}

.selected-event,
.selected-event:hover {
    background-color: #224EDD;
}

.disabled-event {
    opacity: 0.5;
}

.disabled-event:hover {
    background-color: #ff9662;
}

.fc-event .fc-bg {
    display: none;
}

/* Listing */

.listing-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.list-layout .listing-footer {
    padding: 7px 35px 5px;
}

.list-layout .details.button.border {
    position: relative;
    top: 0;
    right: 0;
    display: inline-block;
    transform: none;
    -moz-transform: none;
    -o-transform: none;
    -webkit-transform: none;
    margin: 10px 0;
}

.listing-item .details.button.border:hover {
    padding: 8px 16px;
}

.listing-item .details.button.border:hover:after {
    display: none;
}

.property-slider-container .agent-widget {
    position: relative;
    margin-left: 10px;
    transform: none;
    float: right;
    top: 0;
    right: 0;
    left: 0;
    margin-bottom: 0;
}

.fullwidth-home-slider .item, .fullwidth-property-slider .item, .property-slider .item {
    height: 500px;
}

#titlebar.property-titlebar {
    padding: 45px 0 40px;
    background-color: #f8f8f8;
    margin-bottom: 30px;
}

@media (max-width: 991px) {
    .property-slider-container .agent-widget {
        float: none;
        margin-left: 0;
        width: 100%;
        margin-bottom: 30px;
    }
}

@media all and (min-width: 768px) and (max-width: 1367px) {

    .list-layout h4 {
        margin: 5px 0;
    }

    .list-layout .listing-img-container {
        min-height: auto;
    }

    .listing-item .listing-title,.listing-item .listing-details {
        padding: 0 15px;
    }

    .listing-item .listing-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .listing-item ul.listing-details {
        padding: 5px 15px;
    }

    .listing-item ul.listing-details li {
        padding: 0;
        margin-right: 15px;
    }

    .listing-item .listing-footer {
        padding: 0 15px;
        font-size: 14px;
    }
}

@media all and (min-width: 992px) and (max-width: 1229px) {
    .listing-item .details.button.border {
        font-size: 14px;
        padding: 5px;
    }

    .listing-item .details.button.border:hover {
        padding: 5px;
    }
}
  div.errors {
    text-align: left;
    margin-top: -12px;
    margin-left: 5px;
    margin-right: 2px;
    color: red;
    font-size: 11px;
    line-height: 13px;
  }
  input.danger, input.danger:focus {
    border: 1px solid red;
  }
  p.non-field-error {
    font-size: 11px;
    font-weight: bold;
    color: white;
    background-color: red;
    text-align: center;
    border-radius: 3px;
    margin-bottom: 9px;
  }
